@model FruitCorp.Web.Models.Pages.StandardPage


<div class="standard-page-teaser">
    @Html.PropertyFor(x => x.Image, new {width = "100%", EditContainerClass="inline"})
    <h3>@Html.PropertyFor(x => x.PageName)</h3>
    <small>
        @Html.PropertyFor(x => x.MainIntro)
    </small>
</div>